
{{#each this}}
  <div class="item" typeId={{type_id}} areaId={{area_id}}>
     <a data-toggle="collapse" data-parent="#accordion-wrapper" href="#{{id}}" aria-expanded="true" aria-controls={{id}} class="attractionNameLink" style="color:yellow">{{name}}</a>
     <p></p>
     <div id={{id}} class="collapse" role="tabpanel">
       <p class="areaNameDropDown"></p>
        <p class="mb-3" style="color:white">{{description}}</p>
     </div>
  </div>
{{/each}}
